#container {
    display: block;
    text-align: center;
}

#grid {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    width: 960px;
    height: 960px;
    border: 1px solid black;
    margin: auto;
}

.emptySquare {
    background-color: white;
}

.fillSquare {
    background-color: black;
}

.newGridContainer {
    display: grid;
    width: 960px;
    height: 960px;
    border: 1px solid black;
    margin: auto;
}