* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html body {
    background-color: rgb(250, 224, 177);
}
#main-container {
    display: block;
    text-align: center;
    height: 100%;
}

#header, #footer {
    padding: 12px;
}

.grid {
    display: grid;
    width: 790px;
    height: 790px;
    border: 5px solid black;
    margin: auto;
    margin-top: 20px;
}

.empty-square {
    background-color: white;
}

.fill-square {
    background-color: black;
}